$contanier : 1087px;
%button-type-1{
    height: 48px;
    background-color: #00AEEF;
    color: white;
    font-size: 16px;
    line-height: 25px;
    outline: none;
    border: none;
    border-radius: 2px;
}
header{
    background-image: url(../images/Background.png);
    padding: 45px 75px 173px 75px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 98px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    div{
        width: 100%;
        height: 20px;
        // background-color: red;
    }
    
    // text-align: center;
}

header>div>nav{
    width: 100%;
    float: right;
    text-align: right;
    h3{
        float: left;
        font-size: 24px;
        line-height: 28px;
        color: #04A2FD;
    }
}
header>div>nav>ul>li{
    // float: right;
    display: inline-block;
    text-align: right;
    margin-left: 40px;
    &:last-child{
        margin-left: 22px;
    }
}

header>div>nav>ul>li>a{
    text-decoration: none;
    color: white;
}

header>h1{
    font-size: 60px;
    color: white;
    line-height: 70px;
    // display: inline-block;
    text-align: center;
    margin-top: 163px;
    font-family: Lato-Bold;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    // margin: auto;
    // margin-top: 165px;
}

#workflow-section{
    width: 1100px;
    // height: 20px;
    // background-color: red;
    margin: auto;
    // padding-bottom: 96px;
    // clear: both;
    margin-bottom: 96px;
}

#left-workflow{
    width: 50%;
    float: left;
    // background-color: saddlebrown;
    padding-right: 80px;
    box-sizing: border-box;
    img{
        width: 100%;
    }
}

#right-workflow{
    width: 50%;
    float: right;
    // background-color: rebeccapurple;
    padding: 137px 30px 0px 0px;
    box-sizing: border-box;
}

.workflow-title{
    margin-bottom: 26px;
}

.workflow-desc{
    margin-bottom: 27px;
}

.work-pricing{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #1D2A3B;
    i{
        color: #00AEEF;
    }
}

#member-contanier{
    clear: both;
    width: $contanier;
    height: 430px+30px;
    // background-color: red;
    margin: auto;
    // background-color: rebeccapurple;
    text-align: center;
    // padding-top: 85px;
    box-sizing: border-box;
    margin-bottom: 105px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

#member-contanier>h1{
    font-size: 46px;
    line-height: 40px;
    color: #1D2A3B;
    // margin-top: 85px;
    margin-bottom: 50px;
    // text-align: center;
}

#sign-up-section{
    width: $contanier;
    height: 210px;
    // background-color: brown;
    margin: auto;
    padding: 52px 50px 61px 50px;
    box-sizing: border-box;
    box-shadow: 0px 8px 20px;
    margin-bottom: 67px;
    // margin-top: 121px;
    clear: both;
}

#left-sign-up{
    height: 100%;
    // background-color: red;
    width: 340px;
    float: left;
}

#sign-up-section>#left-sign-up>p:first-child{
    font-size: 30px;
    line-height: 40px;
    color: #1D2A3B;
    margin-bottom: 13px;
}

#input-style{
    position: relative;
    >input{
        float: right;
    margin-top: 18px;
    width: 590px;
    height: 70px;
    // border: none;
    outline: none;
    font-size: 15px;
    line-height: 50px;
    padding: 0px 130px 0px 31px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 2px;
    ::placeholder{
        color: #747E8C;
    }
    }
}


#input-style>button{
    // @extend %button-type-1;
    position: absolute;
    top: 10px+18px;
    right: 10px;
}

footer{
    width: $contanier;
    background-color: orange;
    margin: auto;
    font-family: 'Lato', sans-serif;
    >ul{
        float:right;
    >li{
        float: left;
        margin-right: 109px;
        &:last-child{
            margin-right: 0px;
        }
    }
    }
}


.footer-colums{
    color: #5B5F72;
    margin-top: -20px;
    margin-bottom: 30px;
    p{
        line-height: 36px;
        font-size: 14px;
        &:first-child{
            line-height: 80px;
            font-size: 16px;
        }
    }
}

footer>div{
    float: left;
    // clear: both;
    
}

footer>div>ul>li>a{
    font-size: 16px;
    line-height: 28px;
    color: #19224C;
    text-decoration: none;
}

footer>div>ul>li>p{
    font-size: 24px;
    color: #19224C;
    margin-bottom: 30px;
}

.hiring-section{
    width: $contanier;
    margin: auto;
    clear: both;
    margin-bottom: 121px;
    // background-color: purple;
}

#hiring-details{
    width: 100%;
    div{
        width: 100%;
    }
}

#hiring-title{
    margin-bottom: 24px;
}

#hiring-desc{
    margin-bottom: 32px;
}
.hiring-content-1{
    float: left;
    width: 50%;
}
.hiring-content-2{
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 69px 0px 0px 50px;
}

#goal-section-100{
    width: 100%;
    height: 740px;
    clear: both;
    background-image: url(../images/back2.png);
    background-repeat: no-repeat;
    background-size: 100% 740px;
    margin-bottom: 94px;
}

#goal-section{
    width: $contanier;
    margin: auto;
    padding-top: 198px;
    box-sizing: border-box;
    div{
        width: 50%;
        float: left;
        // background-color: red;
        div{
            width: 100%;
        }
    }
}

#goal-details{
    padding-top: 58px;
    box-sizing: border-box;
}

.goal-image>img{
    width: 100%;
}

#goal-title{
    margin-bottom: 35px;
}

#goal-desc{
    padding-right: 50px;
    box-sizing: border-box;
    margin-bottom: 18px;
    p>span{
        color: #00AEEF;
    }
}

#contact-icon{
    font-size: 16px;
    line-height: 25px;
    color: #1D2A3B;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    i{
        color: #00AEEF;
        margin-left: 5px;
    }
}

.workflow-speed{
    width: 760px;
    height: 400px;  
    margin: auto;
    background-image: url(../images/back3.png);
    background-size: 100%;
    // clear: both;
    // background-color: red;
    text-align: center;
}

#speed-title{
    padding: 0px 100px;
    box-sizing: border-box;
    margin-bottom: 26px;
}

#speed-desc{
    padding: 0px 70px;
    box-sizing: border-box;
    margin-bottom: 65px;
}

#speed-percentage{
    width: 100%;
    // background-color: blue;
}